.map-content {
    width: 100vw;
    height: 92vh;
}

.title-main {
    background-color: #002A8D;
    color: white;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
    .btn-back {
        border-radius: 50%;
        background: #FF7800;
        color: white;
        border: none;
        width: 25px;
        height: 25px;
        margin-top: 1vh;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='8' viewBox='0 0 6 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.939884 7.57095C1.1867 7.80968 1.58253 7.80968 1.82935 7.57095L5.06012 4.44595C5.3133 4.20106 5.3133 3.79894 5.06012 3.55405L1.82935 0.429053C1.58253 0.190315 1.1867 0.190315 0.939884 0.429053C0.686705 0.673943 0.686705 1.07606 0.939884 1.32095L3.70961 4L0.939884 6.67905C0.686705 6.92394 0.686705 7.32606 0.939884 7.57095Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        transform: rotate(180deg);
        @media (max-width: 600px) {
            margin-top: 0.6vh;
        }
    }
}

.row {
    margin: 0px;
}